body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: center;
}

.color {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding-bottom: 5em;
}

#colorVisualizer {
  height: 10em;
  width: 10em;
  background-color: rgb(128, 128, 128);
}

input[type=text] {
  width: 30px;
  height: 35px;
  text-align: center;
}

input[type=range]{
  width: 400px;
}